[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=user
Group=group
RuntimeDirectory=gunicorn
WorkingDirectory=/path/to/root
ExecStart= /path/to/gunicorn --pid /run/gunicorn/pid   \
          --bind unix:/run/gunicorn/socket project.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
